.li-cast {
  position: relative;
  flex-shrink: 0;
  width: 12.5rem;
  min-height: 15.625rem;
  padding-left: 0.75rem;
  scroll-snap-align: start;
  box-sizing: content-box;
}

.li-cast:first-child {
  padding-left: 100px;
  box-sizing: content-box;
}

.li-cast:last-child {
  padding-right: 100px;
  box-sizing: content-box;
}

.member-image {
  width: 200px;
  height: 250px;
  object-fit : cover;
  border-radius: 10px;
}

.div {
  display: grid;
  gap: 4px;
  padding: 8px 8px 0 8px;
}

@media screen and (max-width: 768px) {
  .member-image {
    width: 18rem;
  }

  .li-cast {
    max-width: 18rem;
  }

  .li-cast:first-child {
    padding-left: 1.5rem;
  }
  
  .li-cast:last-child {
    padding-right: 1.5rem;
  }
}