.li-image {
  flex-shrink: 0;
  padding-left: 0.75rem;
  box-sizing: content-box;
  max-height: 15.625rem;
  aspect-ratio: 16/9;
  scroll-snap-align: start;
}

.li-image:first-child {
  padding-left: 100px;
  box-sizing: content-box;
}

.li-image:last-child {
  padding-right: 100px;
  box-sizing: content-box;
}

.image-poster {
  height: 250px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  margin-bottom: 8px;
}