.container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  gap: 4px;
  margin: 0 -100px;
  scrollbar-width: none;
}

.li-image {
  flex-shrink: 0;
  padding-left: 20px;
  box-sizing: content-box;
  max-height: 250px;
  aspect-ratio: 16/9;
  scroll-snap-align: start;
}

.li-image:first-child {
  padding-left: 100px;
  box-sizing: content-box;
}

.li-image:last-child {
  padding-right: 100px;
  box-sizing: content-box;
}

.image-poster {
  height: 250px;
  border-radius: 10px;
  margin-bottom: 8px;
}