.header-media{
  display: flex;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  align-items: end;
}

.loading {
  width: 100%;
  min-height: 350px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.02);
  animation: loading 1s infinite alternate linear;
}

@keyframes loading {
  to {background-color: rgba(255, 255, 255, 0.08);}
}

.ul-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  gap: 4px;
  margin: 0 -6.25rem;
  scrollbar-width: none;
}

.article-trend {
  display: flex;
  gap: 1.5rem;
}

.header-trend {
  align-content: end;
  max-width: 270px;
  flex-shrink: 0;
  margin-bottom: 32px;
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .ul-container {
    margin: 0 -1.5rem;
  }

  .container-trend {
    margin: 0 -1.5rem 0 0;
  }

  .li-movie:first-child {
    padding-left: 1.5rem;
  }
  
  .li-movie:last-child {
    padding-right: 1.5rem;
  }
}