.header-media{
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: end;
}

.ul-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 0.25rem;
  margin: 0 -1rem;
}

.ul-container::-webkit-scrollbar {
  display: none;
}


.header-trend {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: end;
}

@media screen and (min-width: 768px) {
  .ul-container {
    margin: 0 -3rem;
  }

}

@media screen and (min-width: 1280px) {

  .ul-container {
    margin: 0 -6rem;
  }

  .article-trend {
    display: flex;
    gap: 1.5rem;
  }

  .header-trend {
    align-content: end;
    max-width: 18rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    display: grid;
    gap: 1.5rem;
  }

  .ul-container-trend {
    margin: 0 -6rem 0 0 ;
  }
}