.li-movie {
  flex-shrink: 0;
  max-width: 11rem;
  scroll-snap-align: start;
  padding-left: 0.5rem;
  box-sizing: content-box;
}

.li-movie:first-child {
  padding-left: 1rem;
  box-sizing: content-box;
}

.li-movie:last-child {
  padding-right: 1rem;
  box-sizing: content-box;
}

.movie-poster {
  width: 11rem;
  aspect-ratio: 2/3;
  border-radius: 10px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .li-movie { 
    max-width: 15rem; 
    padding-left: 0.5rem;
  }
  
  .li-movie:first-child {
    padding-left: 3rem; 
  }
  
  .li-movie:last-child {
    padding-right: 3rem; 
  }
  
  .movie-poster {
    width: 15rem;
  }
}

@media screen and (min-width: 1280px) {
  .li-movie:first-child {
    padding-left: 6rem; 
  }
  
  .li-movie:last-child {
    padding-right: 6rem; 
  }
  
  .li-trend:first-child {
    padding: 0;
  }
}