.article-trend {
  display: flex;
  gap: 1.5rem;
}

.header-trend {
  align-content: end;
  max-width: 270px;
  flex-shrink: 0;
  margin-bottom: 32px;
  display: grid;
  gap: 1.5rem;
}

.header-genres {
  display: flex;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  align-items: end;
}