.li-movie {
  flex-shrink: 0;
  max-width: 15.625rem;
  scroll-snap-align: start;
  padding-left: 0.75rem;
  box-sizing: content-box;
}

.li-movie:first-child {
  padding-left: 6.25rem;
  box-sizing: content-box;
}

.li-movie:last-child {
  padding-right: 6.25rem;
  box-sizing: content-box;
}

.li-trend:first-child {
  padding: 0;
  box-sizing: border-box;
}

.movie-poster {
  width: 15.625rem;
  aspect-ratio: 2/3;
  border-radius: 10px;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 -1.5rem;
  }

  .movie-poster {
    width: 18rem;
  }

  .li-movie {
    max-width: 18rem;
  }

  .container-trend {
    margin: 0 -1.5rem 0 0;
  }

  .li-movie:first-child {
    padding-left: 1.5rem;
  }
  
  .li-movie:last-child {
    padding-right: 1.5rem;
  }
}