
.container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  gap: 24px;
  margin: 0 -100px;
  scrollbar-width: none;
}

.li-image {
  position: relative;
  flex-shrink: 0;
  max-width: 200px;
  scroll-snap-align: end;
}

.image-poster {
  width: 200px;
  height: 250px;
  object-fit : cover;
  border-radius: 15px;
}
