
.secondary-color {
  color: var(--secondary);
}

.title-1 {
  font-size: 1rem;
  font-weight: 600;
}

.title-2 {
  font-family: 'Bebas Neue';
  font-size: 3rem;
  line-height: 0.8;
}

.title-2-media {
  font: 2rem 'Bebas Neue';
  line-height: 0.8;
}

.title-2-s {
  font: 700 1rem 'Montserrat';
  display: block;
  color: var(--secondary);
}

.title-2-xl {
  font: 3rem 'Bebas Neue';
  line-height: 0.8;
}

.title-3 {
  font: 600 .875rem 'Montserrat';
}

.title-4,
.button {
  font: 700 .875rem 'Montserrat';
}

.title-5 {
  font: italic 400 1rem 'Montserrat Italic';
}

.overview{
  font: 400 .875rem 'DM Sans';
  line-height: 1.45;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  box-orient: vertical;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.overview b{
  font: 700 1rem 'DM Sans';
}

.caption {
  font: 600 0.75rem 'Montserrat';
}



@media (min-width: 768px) {

  .title-1 {
    font-size: 1.5rem;
  }
  
  .title-2 {
    font-size: 4rem;
  }

  .title-2-s {
    font-size: 1.5rem;
  }

  .title-2-media {
    font-size: 3rem;
  }

  .title-3 {
    font-size: 1.125rem;
  }

  .overview{
    font-size: 1.125rem;
  }

  .overview b{
    font-size: 1.250rem;
  }

  .title-4,
  .button {
    font-size: 1rem; 
  }
}

@media (min-width: 1280px) {
  .title-2-xl {
    font-size: 8rem;
  }
  
}